name: ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  docker:
    environment:
      name: DOCKER
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build image
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          context: ./python/api/rest
          push: false
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/api:latest
      -
        name: Scan image
        uses: anchore/scan-action@v2
        with:
          image: ${{ secrets.DOCKERHUB_USERNAME }}/api:latest
          fail-build: true
          severity-cutoff: critical
 